#ChartWrapper {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;

    .TopArea {
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            img {
                width: 3.8rem;
                margin-right: 1.4rem;
            }

            h2 {
                font-weight: 700;
                font-size: 2.4rem;
                color: #000;
            }
        }

        .right {
            .filterArea {
                background-color: rgba(248, 248, 248, 1);
                display: flex;
                padding: .7rem;
                border-radius: .7rem;
                -webkit-border-radius: .7rem;
                -moz-border-radius: .7rem;
                -ms-border-radius: .7rem;
                -o-border-radius: .7rem;
              

                a {
                    background-color: rgba(255, 255, 255, 0);
                    outline: none;
                    border: none;
                    font-size: 1.6rem;
                    font-weight: 400;
                    padding: 1rem;
                    cursor: pointer;
                    border-radius: .4rem;
                    -webkit-border-radius: .4rem;
                    -moz-border-radius: .4rem;
                    -ms-border-radius: .4rem;
                    -o-border-radius: .4rem;
                    color: #000;
                    transition: .2s;
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -ms-transition: .2s;
                    -o-transition: .2s;
                    margin: .2rem;
                    text-decoration: none;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.5);
                        color: rgba(240, 97, 17, 1);
                    }
                }

                a.active {
                    background-color: #fff;
                    color: rgba(240, 97, 17, 1);
                }
            }
        }
    }

    .chart {
        margin-top: 0;
    }
}


#ChartWrapper.dark {
    background-color: rgba(18, 28, 53, 1);


    .TopArea {
        .left {
            h2 {
                color: rgb(255, 255, 255);
            }
        }

        .right {
            .filterArea {
                background-color: rgba(14, 22, 46, 1);


                a {
                    background-color: rgba(18, 28, 53, 0);
                    color: #fff;


                    &:hover {
                        background-color: rgb(18, 28, 53);
                        color: rgba(240, 97, 17, 1);
                    }
                }

                a.active {
                    background-color: rgb(18, 28, 53);
                    color: rgba(240, 97, 17, 1);
                }
            }
        }
    }

    .chart {
        margin-top: 0;
    }
}



@media only screen and (max-width: 577px) {
    
    #ChartWrapper {
        padding: 1rem;

        .TopArea{
            .left{
                img{
                    width: 2.9ren;
                }
                h2{
                    font-size: 1.6rem;
                }
            }

            .right{
                .filterArea{
                    padding: 0.4rem;
                    a{
                        font-size: 1.4rem;
                    }
                }
            }
        }

    }

    
}